<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="box" id="heading">
            <h1><%=list_title%></h1>
        </div>



        <div class="box">
            
            
            <%new_item.forEach(function(item){%>
             <form action="/delete" method="POST">
                <div class="item">
                    <input type="checkbox" name ="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                        <p><%=item.name%></p><br>
                </div>
                <input type="hidden" name="listName" value="<%=list_title%>"></input>
            </form>
            <%})%>
            <!--
            <%for(var i=0;i<new_item.length;i++){%>
                
            <div class="item">
                <input type="checkbox">
                    <p><%=new_item[i].name%></p><br>
            </div>
            <%}%>
            -->
            <form class="item" action="/" method="POST">
                <input type="text" name="input" placeholder="New Item" autocomplete="off">
                <button type="submit" name ="list" value=<%=list_title%> >+</button>
            </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>